* {
  margin: 0;
}
.blog {
  background-color: red;
  /* margin: 15px 60px 15px 25px;
  margin-bottom: 100px; */
  /* border: 50px solid green; */
  /* border-width: 50px;
  border-style: solid;
  border-color: green; */
  border-radius: 25px;
  /* width: 500px; */
  width: 700px;
  margin: 25px;
  height: 200px;
  padding: 25px;
}
.test {
  background-color: green;
  width: 50%;
  margin: 0 auto;
  /* padding: 10px 25px 10px 25px; */
  padding-bottom: 50px;
}
